body{
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Exo", sans-serif;
  color: #fff;
  background: linear-gradient(-45deg, #831111, #000000, #045750, #1c1c53);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
    background-color: rgb(41, 41, 41);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    font-family: Arial, Helvetica, sans-serif;
  }
  
ul{
  list-style-type: none;
}

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
    opacity: 80%;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
  
  .navbar-item {
    margin: 0 10px;
  }
  
  .navbar-item a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .navbar-item a:hover {
    color: #ff6384;
  }

.contacto-container{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.contact-form {
  background-color: rgb(41, 41, 41);
  padding: 20px;
  border-radius: 10px;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  width: 20%;
}

.contact-form label {
  color:white;
}

.contact-form .heading {
  font-size: 24px;
  color: white;
  margin-bottom: 12px;
  font-weight: bold;
  display: block;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
}

textarea {
  resize: none;
  height: 80px;
  width: 250px;
}

.contact-form input, .contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #ff6384;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
  background-color: #ff6384;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

  